streamlit
flask
plotly
gunicorn
pandas
scikit-learn
numpy
category_encoders
joblib
LinearRegression
Ridge
Lasso
RandomForestRegressor
GradientBoostingRegressor
KNeighborsRegressor
XGBRegressor
DecisionTreeRegressor
SVR
scipy
matplotlib
seaborn
